html, body { display: block; font-family: Arial, sans-serif; margin: 0; height: 100%; font-size: 12px; border: 0; overflow: hidden; background: #000; }
html { text-align: left; }
div { border: 0; }
a, a:link, a:visited, a:hover { color: #000; font-style: normal; text-decoration: none; outline: 0; }
.clear { clear: both; height: 0; }

@font-face {
  font-family: 'Mignon-Semibold';
  src:url('../fonts/Mignon-Semibold.ttf.woff') format('woff'),
      url('../fonts/Mignon-Semibold.ttf.svg#Mignon-Semibold') format('svg'),
      url('../fonts/Mignon-Semibold.ttf.eot'),
      url('../fonts/Mignon-Semibold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MLB-Brewers';
  src:url('../fonts/MLB-Brewers.ttf.woff') format('woff'),
      url('../fonts/MLB-Brewers.ttf.svg#MLB-Brewers') format('svg'),
      url('../fonts/MLB-Brewers.ttf.eot'),
      url('../fonts/MLB-Brewers.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mignon-Regular';
  src:url('../fonts/Mignon-Regular.ttf.woff') format('woff'),
      url('../fonts/Mignon-Regular.ttf.svg#Mignon-Regular') format('svg'),
      url('../fonts/Mignon-Regular.ttf.eot'),
      url('../fonts/Mignon-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mignon-It';
  src:url('../fonts/Mignon-It.ttf.woff') format('woff'),
      url('../fonts/Mignon-It.ttf.svg#Mignon-It') format('svg'),
      url('../fonts/Mignon-It.ttf.eot'),
      url('../fonts/Mignon-It.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mignon-Bold';
  src:url('../fonts/Mignon-Bold.ttf.woff') format('woff'),
      url('../fonts/Mignon-Bold.ttf.svg#Mignon-Bold') format('svg'),
      url('../fonts/Mignon-Bold.ttf.eot'),
      url('../fonts/Mignon-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

.btn-enterFs, .btn-exitFs {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 700;
}
.btn-enterFs { background: url(../img/btn_expand.webp) 0 0 / contain no-repeat; }
.btn-exitFs { background: url(../img/btn_close.webp) 0 0 / contain no-repeat; }

#btn-shuffle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: url(../img/icon_shuffle.webp) 0 0 / contain no-repeat;
  z-index: 600;
}

#btn-zoomIn, #btn-zoomOut {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  z-index: 600;
}

#btn-zoomIn { background: url(../img/icon_zoom_in.webp) 0 0 / contain no-repeat; }
#btn-zoomOut { background: url(../img/icon_zoom_out.webp) 0 0 / contain no-repeat; }

#main {
  width: 100%;
  height: 100%;
}

#container {
  display: block;
  margin: 0;
  width: 1024px;
  height: 768px;
  overflow: hidden;
  z-index: 300;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #000;
}

.portrait #container {
  width: 768px;
  height: 1024px;
}

#cardsOverlay {
  position: absolute;
  display: block;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  overflow: hidden;
  z-index: 120;
}
.portrait #cardsOverlay {
  width: 768px;
  height: 1024px;
}

#cardsCtn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  margin-top: -300px;
  margin-left: -214px;
  display: block;
  width: 430px;
  height: 600px;
  overflow: hidden;
}

#cards {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
}

#scenes {
  display: block;
  margin: 0 auto;
  width: 1024px;
  height: 768px;
  position: absolute;
}

.portrait #cards, .portrait #scenes {
  width: 768px;
  height: 1024px;
}

#cards { z-index: 120; }
#scenes { z-index: 110; }

.card {
  position: relative;
  float: left;
  overflow: hidden;
  width: 430px;
  height: 600px;
}

.inner, .front {
  overflow: hidden;
  width: 430px;
  height: 600px;
}

.portrait .card .inner {
  height: 1024px;
}

.scene {
  position: relative;
  display: block;
  float: left;
  overflow: hidden;
  width: 1024px;
  height: 1536px;
  margin: 0 auto;
}
.portrait .scene {
  width: 768px;
  height: 2048px;
}

.sceneInner, .scenePuzzle, .solutionCtn {
  display: block;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
}
.portrait .sceneInner, .portrait .scenePuzzle, .portrait .solutionCtn {
  width: 768px;
  height: 1024px;
}

.sceneInner {
  overflow: hidden;
}

.scenePuzzle {
  position: absolute;
}

.puzzle { 
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.scene0 { background: url(../img/scene_lobby.webp) center center / cover no-repeat; }
.scene1 { background: url(../img/scene_fossils.webp) center center / cover no-repeat; }
.scene2 { background: url(../img/scene_egyptian.webp) center center / cover no-repeat; }
.scene3 { background: url(../img/scene_room.webp) center center / cover no-repeat; }
.scene4 { background: url(../img/scene_roman.webp) center center / cover no-repeat; }

.scene0 .puzzle0 { background: url(../img/puzzle_lobby_0.webp) center center / contain no-repeat; }
.scene0 .puzzle1 { background: url(../img/puzzle_lobby_1.webp) center center / contain no-repeat; }
.scene0 .puzzle2 { background: url(../img/puzzle_lobby_2.webp) center center / contain no-repeat; }
.scene0 .puzzle3 { background: url(../img/puzzle_lobby_3.webp) center center / contain no-repeat; }
.scene0 .puzzle4 { background: url(../img/puzzle_lobby_4.webp) center center / contain no-repeat; }
.scene1 .puzzle0 { background: url(../img/puzzle_fossils_0.webp) center center / contain no-repeat; }
.scene1 .puzzle1 { background: url(../img/puzzle_fossils_1.webp) center center / contain no-repeat; }
.scene1 .puzzle2 { background: url(../img/puzzle_fossils_2.webp) center center / contain no-repeat; }
.scene1 .puzzle3 { background: url(../img/puzzle_fossils_3.webp) center center / contain no-repeat; }
.scene1 .puzzle4 { background: url(../img/puzzle_fossils_4.webp) center center / contain no-repeat; }
.scene2 .puzzle0 { background: url(../img/puzzle_egyptian_0.webp) center center / contain no-repeat; }
.scene2 .puzzle1 { background: url(../img/puzzle_egyptian_1.webp) center center / contain no-repeat; }
.scene2 .puzzle2 { background: url(../img/puzzle_egyptian_2.webp) center center / contain no-repeat; }
.scene2 .puzzle3 { background: url(../img/puzzle_egyptian_3.webp) center center / contain no-repeat; }
.scene2 .puzzle4 { background: url(../img/puzzle_egyptian_4.webp) center center / contain no-repeat; }
.scene3 .puzzle0 { background: url(../img/puzzle_room_0.webp) center center / contain no-repeat; }
.scene3 .puzzle1 { background: url(../img/puzzle_room_1.webp) center center / contain no-repeat; }
.scene3 .puzzle2 { background: url(../img/puzzle_room_2.webp) center center / contain no-repeat; }
.scene3 .puzzle3 { background: url(../img/puzzle_room_3.webp) center center / contain no-repeat; }
.scene3 .puzzle4 { background: url(../img/puzzle_room_4.webp) center center / contain no-repeat; }
.scene4 .puzzle0 { background: url(../img/puzzle_roman_0.webp) center center / contain no-repeat; }
.scene4 .puzzle1 { background: url(../img/puzzle_roman_1.webp) center center / contain no-repeat; }
.scene4 .puzzle2 { background: url(../img/puzzle_roman_2.webp) center center / contain no-repeat; }
.scene4 .puzzle3 { background: url(../img/puzzle_roman_3.webp) center center / contain no-repeat; }
.scene4 .puzzle4 { background: url(../img/puzzle_roman_4.webp) center center / contain no-repeat; }

.solutionCtn {
  background: url(../img/cardbg.webp) center center / contain no-repeat;
  overflow: hidden;
}
.portrait .solutionCtn {
  background: url(../img/cardbg-alt.webp) center center / contain no-repeat;
}

.solution {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -200px;
}

.solution span {
  display: block;
  width: 80px;
  height: 80px;
  float: left;
}

.front {
  position: relative;
  z-index: initial;
}

.front.default { background: url(../img/casecardbg001.webp) 0 0 / contain no-repeat; }
.front.security { background: url(../img/casecardbg003.webp) 0 0 / contain no-repeat; }

.back {
  position: relative;
  background: url(../img/templateback.webp) 0 0 no-repeat;
}

.difficulty {
  position: absolute;
  top: 28px;
  left: 28px;
  width: 62px;
  height: 91px;
  display: block;
}

.rookie { background: url(../img/skill_rookie.webp) 0 0 / contain no-repeat; }
.veteran { background: url(../img/skill_veteran.webp) 0 0 / contain no-repeat; }
.detective { background: url(../img/skill_detective.webp) 0 0 / contain no-repeat; }
.master { background: url(../img/skill_master.webp) 0 0 / contain no-repeat; }

#caseOf {
  position: absolute;
  top: 44px;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  font-family: 'Mignon-Semibold', sans-serif;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
}

#caseTitle {
  position: absolute;
  top: 74px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  font-family: 'MLB-Brewers', sans-serif;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  word-spacing: -8px;
  letter-spacing: -1px;
}

#overview {
  position: absolute;
  top: 150px;
  left: 48px;
  width: 260px;
  font-family: 'Mignon-Regular', sans-serif;
  text-align: left;
  font-size: 18px;
}

#timeLimit {
  position: absolute;
  top: 335px;
  left: 194px;
  width: 40px;
  height: 40px;
  font-family: 'Mignon-Regular', sans-serif;
  text-align: center;
  font-size: 36px;
  color: #d1b287;
}

#taskBox {
  position: absolute;
  top: 384px;
  left: 50%;
  margin-left: -168px;
  width: 336px;
  height: 168px;
  font-family: 'Mignon-Regular', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.taskBoxMessage {
  display: block;
  width: 600px;
}

#instruction {
  display: block;
  font-family: 'Mignon-Regular', sans-serif;
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin-bottom: 18px;
}

.small#instruction {
  font-size: 16px;
}

#instruction i {
  font-family: 'Mignon-It', sans-serif;
  font-size: 18px;
}

.small#instruction i {
  font-size: 16px;
}

#instruction .code {
  display: inline-block;
  width: 28px;
  height: 28px; 
  margin: 0 4px 0 4px;
}

.a1 { background: url(../img/a1.webp) center center / contain no-repeat; }
.a2 { background: url(../img/a2.webp) center center / contain no-repeat; }
.a3 { background: url(../img/a3.webp) center center / contain no-repeat; }
.a4 { background: url(../img/a4.webp) center center / contain no-repeat; }
.a5 { background: url(../img/a5.webp) center center / contain no-repeat; }
.b1 { background: url(../img/b1.webp) center center / contain no-repeat; }
.b2 { background: url(../img/b2.webp) center center / contain no-repeat; }
.b3 { background: url(../img/b3.webp) center center / contain no-repeat; }
.b4 { background: url(../img/b4.webp) center center / contain no-repeat; }
.b5 { background: url(../img/b5.webp) center center / contain no-repeat; }
.c1 { background: url(../img/c1.webp) center center / contain no-repeat; }
.c2 { background: url(../img/c2.webp) center center / contain no-repeat; }
.c3 { background: url(../img/c3.webp) center center / contain no-repeat; }
.c4 { background: url(../img/c4.webp) center center / contain no-repeat; }
.c5 { background: url(../img/c5.webp) center center / contain no-repeat; }
.d1 { background: url(../img/d1.webp) center center / contain no-repeat; }
.d2 { background: url(../img/d2.webp) center center / contain no-repeat; }
.d3 { background: url(../img/d3.webp) center center / contain no-repeat; }
.d4 { background: url(../img/d4.webp) center center / contain no-repeat; }
.d5 { background: url(../img/d5.webp) center center / contain no-repeat; }
.e1 { background: url(../img/e1.webp) center center / contain no-repeat; }
.e2 { background: url(../img/e2.webp) center center / contain no-repeat; }
.e3 { background: url(../img/e3.webp) center center / contain no-repeat; }
.e4 { background: url(../img/e4.webp) center center / contain no-repeat; }
.e5 { background: url(../img/e5.webp) center center / contain no-repeat; }

#task {
  display: block;
  font-family: 'Mignon-Bold', sans-serif;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.zoomPan { cursor: move; }

@media only screen and (orientation: landscape) {
  #btn-exit-settings {
    top: 0;
    right: 0;
  }

  #settings-custom {
    width: 815px;
    height: 1406px;
    background-image: url(../img/bg-vertical.webp);
  }

  #settings-custom .padding {
    padding: 100px 80px 0 80px;
  }

  #settings-custom a.btn {
    float: right;
  }
}
